models_for_comparison
env/
.vscode
__pycache__
*/.DS_Store
error*
*.pyc
photos/*
splits/
unused/
log/
data*
data
modeltesting
py3*
result.*
referencePhotos.txt
probePhotos.txt
trainedModel
openset_testing/old
openset_testing/final_dataset
openset_testing/__pycache__
openset_testing/models
